<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Solvedoku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<runtime>
		<!-- Use this switch to make BinaryFormatter fast with large object graphs starting with .NET 4.7.2 -->
		<AppContextSwitchOverrides value="Switch.System.Runtime.Serialization.UseNewMaxArraySize=true" />
	</runtime>
    <userSettings>
        <Solvedoku.Properties.Settings>
            <setting name="Localization" serializeAs="String">
                <value>en</value>
            </setting>
        </Solvedoku.Properties.Settings>
    </userSettings>
</configuration>
